<!DOCTYPE html>
<div class="jumbotron mt-4">
  <h1 class="display-4">PublicPhotho</h1>
  <p class="lead">Crea Directorios de Fotografias con perfiles</p>
  <hr class="my-4">
  <p>Bienvenido a PublicPhotho haca podras crear un directorio de fotografias en el cual podras invitar a tus amigos y cada uno
  de ellos pueden subir una fotografia con una descripcion de ellos a modo de perfil y los demas podran darle like y podran
  comentar el perfil entre otras muchas funcionalidades
  </p>
  <a class="btn btn-primary"href="/signup">Registrate</a>
</div>
