<!DOCTYPE html>
<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Registrate Y Disfruta 
      </div>
      <div class="card-body">
        <form action="/signup"method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Nombre">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Correo">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Contraseña">
          </div>
          <div class="form-group">
            <input type="password"class="form-control"name="comfirm"placeholder="Confirmar Contraseña">
          </div>
          <button class="btn btn-primary btn-block">
            Registrate
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
